body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
}

.app {
  min-height: 100vh;
  color: white;
  padding: 20px;
  text-align: center;
  background:
    radial-gradient(circle at top, #1e293b, #0f172a);
}

.top-card {
  background: rgba(255,255,255,0.08);
  padding: 25px;
  border-radius: 20px;
  margin-top: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 25px rgba(0,255,255,0.2);
}

.top-card h1 {
  margin: 0;
  font-size: 40px;
}

.top-card p {
  color: #94a3b8;
}

.stats {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}

.card {
  flex: 1;
  max-width: 150px;
  background: rgba(255,255,255,0.08);
  padding: 20px;
  border-radius: 20px;
  backdrop-filter: blur(12px);
  box-shadow: 0 0 25px rgba(0,255,255,0.2);
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.play-btn {
  margin-top: 40px;
  background: linear-gradient(45deg,#22c55e,#06b6d4);
  border: none;
  color: white;
  padding: 18px 35px;
  border-radius: 15px;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 30px rgba(34,197,94,0.6);
  transition: transform 0.2s;
}

.play-btn:active {
  transform: scale(0.95);
}

.mission-box {
  margin-top: 40px;
  padding: 20px;  border-radius: 20px;
  background: rgba(255,255,255,0.08);
  box-shadow: 0 0 20px rgba(0,255,255,0.15);
}

.reward-btn {
  margin-top: 20px;
  background: linear-gradient(45deg,#f59e0b,#ef4444);
  border: none;
  color: white;
  padding: 18px 35px;
  border-radius: 15px;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 25px rgba(245,158,11,0.5);
}

.reward-box {
  margin-top: 20px;
  padding: 15px;
  border-radius: 15px;
  background: rgba(255,255,255,0.1);
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 0 20px rgba(255,255,0,0.3);
}

@keyframes pop {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.card h2 {
  animation: pop 0.3s ease;
}

.win-popup {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0,0,0,0.8);
  color: #fff;
  padding: 15px 25px;
  border-radius: 15px;
  font-size: 20px;
  box-shadow: 0 0 20px gold;
  animation: pop 0.3s ease;
}
.leaderboard {
  margin-top: 30px;
  padding: 15px;
  border-radius: 15px;
  background: rgba(255,255,255,0.08);
}

.lb-item {
  padding: 5px;
  font-size: 16px;
}
.daily-btn {
  margin-top: 15px;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: gold;
  color: black;
  font-weight: bold;
}
